.bg {
    background-image: url("https://mdbootstrap.com/img/new/standard/city/041.webp");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    border-radius: 10%;
  }